{{ include('header.html.twig') }} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
   <h1>First passed values...</h1>
    {% for key, value in usr1 %}
        {{ key }} => {{ value }} <br>
    {% endfor %}
    <h1>Second pass values</h1>
    {% for user in usr %}
    {{user.user_name}}
    {{user.user_address}}
    {% endfor %}
<h1>Method range </h1>
    {% for i in range(low=1, high=10, step=2) %}
    {{ i }},
    {% endfor %}

    {% for i in range(0, 3) %}
    {{ i }},
{% endfor %}
<h1>apply....</h1>
{% apply upper %}
    This text becomes uppercase
{% endapply %}

 {% endblock %}